.bg-body-tertiary {
    background-color: #f7f6f6 !important; /* Dark gray background */
}

.container-fluid img {
    height: 50px;
}

.container-fluid div {
    font-weight: 700;
    font-size: larger;
    color: rgb(5, 5, 5);
}

.form-control {
    width: 200px;
}

.btn-outline-DARK {
    border: 2px solid black;
    color:  black;
}

.btn-outline-DARK:hover {
    background-color: white;
    color: black;
}

.btn-dark {
    font-weight: bold;
}

.navbar-brand {
    color: black !important;
    font-weight: bold;
    font-size: 20px;
}

.navbar-brand:hover {
    color: #4a4b4b !important;
}

.background{
    background-color: #f8f9fa;
}

@media (max-width: 768px) {
    .navbar {
        text-align: center;
    }

    .navbar-brand {
        display: block;
        padding: 5px;
    }
}

#searchResults {
    position: absolute;
    background: white;
    width: 200px;
    border: 1px solid #ddd;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
}

#searchResults ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#searchResults li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#searchResults li:hover {
    background: #f0f0f0;
}

.news-list {
    list-style-type: none;
    padding: 0;
}

.news-list li {
    margin: 10px 0;
}

.news-list a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h2 {
    color: black;
}
